<!DOCTYPE html>
<html>

<head>
    <title>File Metadata</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="hero">
            <h1>File Metadata</h1>
            <a href="/">Go to Home</a>
        </div>
        <h3>Usage:</h3>
        <p> Please Upload a File ... </p>
        <div class="view">
            <h4 id="output"></h4>
            <form enctype="multipart/form-data" method="POST" action="/filemetadata/api/fileanalyse">
                <input id="inputfield" type="file" name="upfile" required>
                <input id="button" type="submit" value="Upload">
            </form>
        </div>
    </div>
</body>

</html>