<!DOCTYPE html>
<html>

<head>
  <title>Request Header Parser</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="hero">
      <h1>Request Header Parser</h1>
      <a href="/">Go to Home</a>
    </div>
    <h3>Example Usage:</h3>
    <p>
      <a href="headerparser/api/whoami">[base url]/headerparser/api/whoami</a>
    </p>
    <h3>Example Output:</h3>
    <code>
        {
          "ipaddress":"::ffff:159.20.14.100",
          "language":"en-US,en;q=0.5",
          "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"
        }
      </code>
  </div>
</body>

</html>