<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <title>freeCodeCamp Microservices</title>
</head>

<body>
    <div class="container">
        <div class="hero">
            <h1>freeCodeCamp Back End Microservices</h1>
        </div>
        <p> 👋 Hello, These are <a href="https://www.linkedin.com/in/choudharymidanahmed/" target="_blank">Midan
                Ahmed</a>&apos;s solutions to freeCodeCamp&apos;s <a
                href="https://www.freecodecamp.org/learn/back-end-development-and-apis" target="_blank">Back End
                Development and APIs</a> certification.</p>
        <br />
        <p>Solutions&colon;</p>
        <div class="projects">
            <a href="/timestamp">Timestamp</a>
            <a href="/headerparser">Request Header Parser</a>
            <a href="/urlshortener">URL Shortener</a>
            <a href="/exercisetracker">Exercise Tracker</a>
            <a href="/filemetadata">File Metadata</a>
        </div>
    </div>
</body>

</html>