<!DOCTYPE html>
<html>

<head>
    <title>Timestamp Microservice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="hero">
            <h1>Timestamp Microservice</h1>
            <a href="/">Go to Home</a>
        </div>
        <div>
            <h3>Example Usage:</h3>
            <ul>
                <li><a href="timestamp/api/2015-12-25">[base url]/timestamp/api/2015-12-25</a></li>
                <li><a href="timestamp/api/1451001600000">[base url]/timestamp/api/1451001600000</a></li>
            </ul>
            <h3>Example Output:</h3>
            <p>
                <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
            </p>
        </div>
    </div>
</body>

</html>