<!DOCTYPE html>
<html>

<head>
    <title>URL Shortener Microservice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="hero">
            <h1>URL Shortener</h1>
            <a href="/">Go to Home</a>
        </div>
        <main>
            <section>
                <form action="urlshortener/api/shorturl" method="POST">
                    <fieldset>
                        <legend>URL Shortener</legend>
                        <label for="url_input">URL:</label>
                        <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
                        <input type="submit" value="POST URL" />
                    </fieldset>
                </form>
            </section>
        </main>
    </div>
</body>

</html>