* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
	background-color: #FaFaFa;
	font-size: 1.2rem;
}

.container {
	max-width: 900px;
	padding: 0;
	margin: 40px auto;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #c3c1c1;
	font-weight: 600;
}

.projects {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

code {
	display: block;
	font-family: monospace;
	color: black;
	background-color: #e2e2e2;
	padding: .2em;
}

a {
	color: #2574A9;
	text-decoration: none;
	width: max-content;
}

a:hover,
a:focus {
	text-decoration: underline;
}