* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #393939;
	background-color: #FaFaFa;
	font-size: 1.2rem;
}

.container {
	max-width: 900px;
	padding: 0 1rem;
	margin: 0 auto;
}

.hero {
	border-bottom: 2px solid #c3c1c1;
	font-weight: 600;
	padding: 2rem 0;
}

.projects {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

code{
	margin-bottom: .8rem;
	overflow: scroll;
}

a {
	color: #2574A9;
	text-decoration: none;
	width: max-content;
}

a:hover,
a:focus {
	text-decoration: underline;
}

h3{
	margin-bottom: .8rem;
}